<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Webプロレポート用DB一覧</title>
</head>
<body>
    <h1>Webプロレポート用DB一覧</h1>
    <p>アクセスしたいDBを選択してください：</p>
    <ul>
        <li><a href="/mac">好きなマクドナルドのハンバーガーDB</a></li>
        <li><a href="/sukiya">好きなすき家のメニューDB</a></li>
        <li><a href="/skylark">好きなすかいらーく系列店舗DB
        </a></li>
    </ul>
</body>
</html>